*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f3f4f6;
  display: flex; 
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.container {
  max-width: 600px;
  margin: 80px auto;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.input-area {
  display: flex;
  gap: 20px;
  
}

input {
  flex: 1;
  padding: 8px;
  padding-right: 100px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
button {
 padding: 10px 20px;
 border: none;
 background-color: rgba(0, 89, 255, 0.973);
 color: #ccc;
 border-radius: 5px ;
 cursor: pointer;
}

button.add {
  background-color: #2563eb;
  color: white; 
}

.task {
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 10px 0;
  width: 100%;
  border-bottom: 1px solid #ddd;
}

.tasks {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.task span {
  flex: 100%;
}

.check {
  margin-left: 20px;
}
.delete {
  background-color: rgb(124, 0, 0);
  border-radius: 0;
  width: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
